<html>
    <head>
        <title>Handle POST requests with Flask</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Text to speech</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('controls') }}">
                  <label for="song">Enter text to play as speech</label>
                  <input type="text" name="texttospeech" /><br />
				  <input type="submit" name="submit" value="Play Text"/>
                </form>
            </div>
        </div>
    </body>
</html>